.App {
  text-align: center;
}

.center-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10em;
}

.button {
  display: flex;
  width: 100px;
  border: 2px solid red;
  border-radius: 10px;
  background-color: beige;
  justify-content: center;
}
