.App {
  text-align: center;
}

.center-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10em;
}

.card {
  -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
  background-color: '#D6D6D6';
  max-width: 40rem;
}

.catagories-cont {
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

.card-title {
  font-weight: 800;
}

.card-cont {
  display: flex;
  flex-wrap: wrap;
}

.card-text {
  flex: 1;
  margin: 5px;
}
